.PersonalInfoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; // или row, если необходимо

  &__progress{
    width: 30%;
    margin-top: 30px;
  }
  &__content {
    max-width: 600px;
    display: grid;
    justify-content: center;
    h2 {
      color: #fff;
      text-align: center;
      padding: 10px 0 30px;
      font-size: 39px;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
  }
  &__gender {
    margin-top: 20px;
    
  }
  &__formControl {
    color: #fff;
    .MuiOutlinedInput-root {
      &.Mui-focused fieldset {
        border-color: #fff;
      }
    }
  }
  &__btn{
    text-align: center;
  }
}

