@import "../../helpers/variables.scss";

.Header {
  &__bodybackground{
    background-image: url(../../assets/image/background.png);
    background-position: center;
  
  }
  &__container{
    display: block;
    align-items: center;
    justify-content: space-between;
    background: $bg;
    padding: 10px 0px 10px 70px;
    margin: 0;
  } 
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav ul,
  li {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 18px;
    font-weight: 1200;
  }
  &__logo
        h2 {
    font-size: 38px;
    color: #009999;
    padding: 0;
  }
}

