.Header {
  &__container{
    display: block;
    align-items: center;
    justify-content: space-between;
    background: #6F635B;
    padding: 10px 0px 10px 10px;
    margin: 0;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav ul,
  li {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 18px;
    font-weight: 1200;
    
  }
  &__logo h2 {
    font-size: 38px;
    color: #000000;

    span {
      color: rgb(207, 207, 207);
    }
  }


}

