.TextInfo {
  &__container{
    display: block;
    align-items: center;
    justify-content: space-between;
    background: #ECE6D3;
    padding: 10px 0px 10px 10px;
    margin: 0;
  }
  &__text {
    text-align: center;
    padding: 71px 0 223px;
  }
}
